@model Sap.ViewModels.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@section head {
    @* passing a new ViewDataDictionary() as if you don't, it assumes the "type" passed is th same as your view's model type, causing 500 error *@
}

<h1>Home</h1>
<p>Hello world!</p>
@Html.Kentico().EditableArea("main")

<div class="row">
    <div class="col-12">
        @Model.TodaysComic.Date.ToString("MM/dd/YY") @Model.TodaysComic.Chapter - @Model.TodaysComic.Title
    </div>
    <div class="col-12">
        <img src="@Model.TodaysComic.ImageUrl">
    </div>
    <div class="col-12">
        <strong>Commentary:</strong> @Model.TodaysComic.Commentary
    </div>
</div>
@Model.TodaysComic